/* Your SCSS here. */
// Base styles
$container-width: 80%;
$border-radius: 10px;
$gradient-start: rgb(130, 204, 228);
$gradient-end: rgb(224, 234, 235);

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: $border-radius;
}

.profile-bio-container {
  width: 65%;
  margin: 0 auto;
}

.container {
  display: block;
  width: $container-width;
  margin: 50px auto 0;
  padding: 20px 20px;
  border-radius: $border-radius;
  text-align: center;

  // background gradient from NW to SE
  background: linear-gradient(to bottom right, $gradient-start, $gradient-end);
}

.bio {
  margin: 0 5%;
  text-align: left;
  transform: translateX(3%); // slight shift for visual balance
}

.logos {
  height: 1em;
  width: auto;
  vertical-align: middle;
}

.email {
  font-family: "STIX Two Math", "Cambria Math", "Times New Roman", serif;
}