/* Your SCSS here. */
.profile-image {
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.profile-bio-container {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  /* center the container */
  /* NEVER use flexbox */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  width: 80%;
  /* nw to se */
  background: linear-gradient(
    to bottom right,
    rgb(130, 204, 228),
    rgb(224, 234, 235)
  );
  padding: 20px;
  border-radius: 10px;
  /* padding top and bottom */
  padding-top: 20px;
  padding-bottom: 20px;
}

.bio {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  /* move the text slightly right to maintain visual balance*/
  /* value depend on the width of the text */
  transform: translateX(calc(3%));
}

.logos {
  width: auto;
  height: 1em;
  vertical-align: middle;
}

.email {
  font-family: "STIX Two Math", "Cambria Math", "Times New Roman", serif;
}